<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static',filename='style.css') }}"> 
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Run Python Script</title>
</head>
<body>
    <header>
        <a href="#" class="logo">YOG</a>
 
        <div class="bx bx-menu" id="menu-icon"></div>
 
        <ul class="navbar">
            <li><a href="/main">Home</a></li>
            <li><a href="/main">Practice</a></li>
            <li><a href="/main">Blogs</a></li>
            <li><a href="/main">About</a></li>
            <!--<li><a href="/">Profile</a></li>-->
            <div class="icons">
                <!-- <div class="bx bx-cart" id="cart-icon"></div> -->
                <a href="/logout">
                   
                       <!-- <p>Login</p> -->
                        <div class='bx bx-user' id="login-icon" >
                        </div>
                   
                    </a>
                 <div class="bx bx-menu" id="menu-icon"></div>
            </div>   
        </ul>
    </header>

    <section class="about" id="about">
        <div class="heading">
            <!-- <h2>About Me</h2>
            <span>Introduction</span> -->
        </div>
        <!-- About Content -->
        <div class="about-container">
            <!--<div class="about-img">-->
                
                <div class="info-box">
                    <div class="info-img">
                        <!-- <img src="assets/images/dish/2.png" alt=""> -->
                        <img src="/static/photos/tree.jpg" height="150">
                    </div>
                    <div class="info-title">
                        <a href="/tree"><b>TREE POSE</b></a>
                      
                    </div>
                    <!-- <div class="dish-info">
                        <h3 class="h3-title">Grilled Chicken</h3>
                    </div> -->
                    <div class="info-bottom-row">       
                    </div>
                </div>
                
                
                
            <!--</div>-->

            <!-- <div class="about-text"> -->
                <!--<div class="about-img">-->
                <div class="info-box">
                  
                    <div class="info-img">
                        <!-- <img src="assets/images/dish/2.png" alt=""> -->
                        <img src="/static/photos/warriorpose.jpg" height="150">
                    </div>
                    <div class="info-title">
                        <a href="/warrior"><b>WARRIOR POSE</b></a>
                      
                    </div>
                    <!-- <div class="dish-info">
                        <h3 class="h3-title">Grilled Chicken</h3>
                    </div> -->
                    <div class="info-bottom-row">       
                    </div>
                </div>

                

                
               
                
            <!--</div>-->
        </div>
   
       
            

                

        
        

   
</section>                    
            